{% extends "BOOKING_APP/base.html" %}

{% block content %}
{% include "BOOKING_APP/tabs.html" %}
<!-- Table Reservation Form -->
<article id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="text-success">Change Your Repair Slot</h2>
                <p class="mb-5">Fill out the booking form below, please remember to cancel your appointment if you
                    cannot make it.</p>
            </div>
        </div>
        <form method="POST" role="form">
            {% csrf_token %}
            {{ form }}
            <div id="form-btns">
                <a role="button" href="{% url 'my_bookings' %}" class="btn btn-danger float-left mt-3">Cancel</a>
                <button type="submit" class="btn btn-success float-right mt-3">Update Booking</button>
            </div>
        </form>
    </div>
</article>
<!-- End Table Reservation Form -->

{%endblock%}