{% extends "../base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% include "../tabs.html" with active_tab='login' %}
<!-- Login Form -->
<div class="container py-5">
   <h1>Login</h1>
   <form method="POST" id="login-form">
      {% csrf_token %}
      {{ login_form|crispy }}
      <button class="btn btn-primary" id="login-submit" type="submit">Login</button>
   </form>
   <a href="/password_reset">Forgot password?</a>
   <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
</div>
{% endblock %}