{% extends "../base.html" %}
{% block content %}
{% include "../tabs.html" with active_tab='tab3' %}
<!-- Main Article -->
<article id="log-in-article">
   <!-- Users Bookings -->
   <h2 id="my-book-h2">
      My Bookings
   </h2>
   <div id="my-bookings"></div>
   {% for booking in bookings %}
   <table class="tab-book">
      <tr>
         <td>
            Name: {{ booking.name }}
         </td>
      </tr>
      <tr>
         <td>
            Email: {{ booking.email }}
         </td>
      </tr>
      <tr>
         <td>
            Phone Number: {{ booking.phone }}
         </td>
      </tr>
      <tr>
         <td>
            Device / Model: {{ booking.device }}
         </td>
      </tr>
      <tr>
         <td>
            Booking Date: {{ booking.date }}
         </td>
      </tr>
      <tr>
         <td>
            Booking Time: {{ booking.time }}
         </td>
      </tr>
      <tr>
         <td>
            Message: {{ booking.message }}
         </td>
      </tr>
      <tr>
         <td>
            <!-- Edit Button -->
            <a href="/edit/{{ booking.id }}" class="test" data-confirm="Are you sure you want to edit your booking?">
            <i class="fas fa-pen edit-delete edit"></i>
            </a>
            <!-- Delete Button -->
            <a href="/delete/{{ booking.id }}" class="test" data-confirm="Are you sure you want to delete your booking?">
            <i class="fas fa-trash edit-delete delete"></i>
            </a>
         </td>
      </tr>
   </table>
   {% endfor %}
</article>
<aside>
   <!-- Add Another Booking Button -->
   <div id="add-another">
      <a role="button" class="btn btn-success add-btn" href="{% url 'booking_view' %}">Add Another Booking</a>
   </div>
</aside>
{%endblock%}