{% extends "../base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Registration Form -->
{% include "../tabs.html" with active_tab='register' %}
<div class="container py-5">
   <h1>Register</h1>
   <p>Please choose a Username without spaces.</p>
   <ul>
      <li>
         Your password can’t be too similar to your other personal information.
      </li>
      <li>
         Your password must contain at least 8 characters.
      </li>
      <li>
         Your password can’t be a commonly used password.
      </li>
      <li>
         Your password can’t be entirely numeric.
      </li>
      <li>
         Password field and password confirmation field MUST match
      </li>
   </ul>
   <form method="POST">
      {% csrf_token %}
      {{ register_form|crispy }}
      <button class="btn btn-primary" id="register-button" type="submit">Register</button>
   </form>
   <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
</div>
{% endblock %}