/* ---------------------------------- Nav Bar */
#top-nav {
    color: #ffff;
    background-color: #96C345;
    text-align: center;
}

.top {
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: auto;
    padding: 10px 0px;
    font-size: 1em;
}

.login {
    padding: 10px;
    color: #FAFAFA;
    font-weight: bold;
}

.login:hover {
    color: #000000;
}

.navbar-nav a {
    color: #95C345;
}

.navbar-nav a:hover {
    color: #000000;
}

.navbar-brand {
    max-width: 100px;
}

.active {
    border-bottom: 1px solid black;
}

.p-0 {
    width: 50%;
    margin: auto;
}

/* ------------------------------------------ index */
.jumbotron {
    width: 75%;
    margin: 100px auto;
}

.display-4 {
    color: #96C345;
}
/* ------------------------------------------ Main */
article {
    text-align: center;
}

#log-in-article {
    height: 100vh;
}

/* ---------------------------------------- Footer */
#footer {
    color: #ffff;
    background-color: #96C345;
    width: 100%;
    height: 10%;
    
}

/* ---------------------------------- Booking Page */
#book-a-table {
    background-color: #FAFAFA;
    padding: 50px 0px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin: auto;
    height: 120vh;
}

.book-a-table p {
	color: #9a9a9a;
}

#form-btns {
    padding: 50px 0px;
}

form {
    width: 75%;
    margin: auto;
    
}

label {
    display: block;
    width: 2em;
    padding-left: 0px;
    margin-top: 0.5em;
    }


/* ---------------------------------- My Bookings Page */
#log-in-article {
    height: auto;
}

#my-bookings {
    margin: auto;
    width: 100%;
    margin-top: 50px;
}

#my-book-h2 {
    margin-top: 20px;
}

.tab-book {
    border: 3px #000000 solid;
    display: inline-flex;
    padding: 10px;
    margin: 20px;
    min-width: 330px;
    background-color: #96C345;
    color: white;
    font-weight: bold;
}

.tab-book td {
    padding: 10px;
    text-align: left;
    border: 1px #96C345 solid;
    min-width: 330px;
}

.edit-delete {
    margin: 0px 10px;
    padding: 10px;
}

.edit {
    color:aqua;
}

.edit:hover {
    color:blue;
}

.delete {
    color: crimson;
}

.delete:hover {
    color:darkred;
}

#add-another {
    text-align: center;
}

.add-btn {
    text-align: center;
    min-width: 15%;
    margin: 5px auto 100px;
}


/* ---------------------------------- My Bookings Page */

.py-5 {
    margin: 100px auto;
    text-align: center;
    background-color:#E9ECEF;
    
}

#div_id_username label {
    min-width: 50%;
    margin: auto;
}

#div_id_password label {
    min-width: 50%;
    margin: auto;
}

#div_id_password {
    margin-bottom: 20px;
}

/* Delete Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #96C346;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
  }
  
  #conf-buttons {
    width: 20%;
    margin: auto;
  }

  .close-me {
    color: white;
    font-size: 1em;
    font-weight: bold;
    margin-right: 10px;
  }

  #conf-del,
  #conf-edit {
    color: red;
    font-size: 1em;
    text-decoration: none;
    font-weight: bold;
  }

  
  .close-me:hover,
  .close-me:focus,
  #conf-del:hover,
  #conf-focus:hover,
  #conf-edit:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }